.Title {
  margin-bottom: 5px;
  position: relative;
}

.title-box {
  min-width: 550px;
  max-width: 560px;
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
}

.yellow-piece {
  background-color: #FCD238;
}

.red-piece {
  background-color: red;
}

.Red {
  position: relative;
  align-content: ;
  padding-top: 60px;
  padding-left: 75px;
  color: red;
}

.Yellow {
  position: relative;
  padding-top: 60px;
  padding-left: 51px;
  color: #FCD238;
}

.App {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Tile {
  background-color: white;
  display: flex;
  border: 4px solid #1C62EF;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.Board {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  min-height: 75vh;
  max-height: 80vh;
  min-width: 550px;
  max-width: 560px;
  color: black;
  background-color: #1C62EF;
}

.score-board {
  position: relative;
}

.scores {
  position: relative;
  top: 30px;
}

.red-wins {
  position: relative;
  top: 30px;
  left: 30px;
  color: red;
  border: 1px solid black;
  display: inline;
  width: 100px;
}

.yellow-wins {
  position: relative;
  top: 30px;
  left: 60px;
  color: #FCD238;
}

